fn conf_enable_smak {
    extensions=(png jpg jpeg bmp)
    prev_width=420
    thumb_height=96

    smak_base_uri=$conf_wd
    smak_root=`{pwd}

    conf_enable_app smak
}

fn smak_init {
    p=`{echo $req_path | sed 's!^'^$smak_base_uri^'!!'}
    smak_dir=`{basename -d $"p}
    smak_img=`{basename $"p}
    smak_file=`{ls $smak_root/$"smak_dir/$"smak_img^.$extensions | sed 1q}
    smak_title=`{echo $"smak_img | sed 's/_/ /'}

    smak_img_list=`{ls $smak_root/$"smak_dir/*.$extensions \
        | sed -e 's!.*/([^/]+)\.[^\.]+$!\1!' \
        | sort -n | uniq} # -un did not work, don't ask me why

    if(! ~ $"smak_file '' && test -f $smak_file)
        handler_body_main=(tpl_handler apps/smak/preview.tpl)
    if not if(! test -f $werc_root/$local_path && test -d $smak_root/$"smak_dir)
        handler_body_main=(tpl_handler apps/smak/thumbnails.tpl)
}

fn smak_resize {
    {png -t9 $3 || jpg -t9 $3 || bmp -t9 $3} \
        | resample $1 $2 | topng > $4
}

fn smak_preview {
    smak_original=`{basename $smak_file}
    smak_prev_path=_werc/smak/prev/
    smak_prev_dir=$smak_root/$smak_prev_path^$"smak_dir
    smak_prev_file=$smak_prev_dir/$"smak_img.png
    smak_prev_img=$smak_base_uri^$smak_prev_path^$"smak_dir/$"smak_img.png

    mkdir -p $smak_prev_dir
    if(! test $smak_prev_file -nt $smak_file)
        smak_resize -x $prev_width $smak_file $smak_prev_file

    echo -n '<a href="'$smak_original'">'
    echo -n '<img alt="'$"smak_title'" title="'$"smak_title'" '
    echo 'width='$prev_width'px src="'$smak_prev_img'"></a>'
}

fn smak_thumbnails {
    smak_thumb_path=_werc/smak/thumb/
    smak_thumb_dir=$smak_root/$smak_thumb_path^$"smak_dir

    mkdir -p $smak_thumb_dir
    for(i in $smak_img_list){
        smak_thumb_original=`{ls $smak_root/$"smak_dir/$i^.$extensions | sed 1q}
        smak_thumb_file=$smak_thumb_dir/$i.png
        smak_thumb_img=$smak_base_uri^$smak_thumb_path^$"smak_dir/$i.png
        smak_thumb_link=$smak_base_uri^$"smak_dir/$i
        smak_thumb_title=`{echo $i | sed 's/_/ /'}

        if(! test $smak_thumb_file -nt $smak_thumb_original)
            smak_resize -y $thumb_height $smak_thumb_original $smak_thumb_file

        echo -n '<a href="'$smak_thumb_link'">'
        echo -n '<img alt="'$"smak_thumb_title'" title="'$"smak_thumb_title'" '
        echo 'height='$1'px src="'$smak_thumb_img'"></a>'
    }
}

fn smak_navigation {
   smak_prev_list=$smak_base_uri$"smak_dir/$smak_img_list
   p=''
   for(i in $smak_prev_list){
        if(~ $req_path $i){
            if(! ~ $"p '')
                echo '<a href="'$p'">&larr;</a>'
            echo '<a href=".">::</a>'
        }
        if(~ $req_path $"p)
                echo '<a href="'$i'">&rarr;</a>'
        p=$i
    }
}
