#smak-prev {
  float: left;
}
#smak-prev h2 {
  text-transform: capitalize;
}
#smak-nav {
  display:inline;
  float:right;
}
#smak-thumb {
  float:left;
  width:45%;
  padding-left: 1em;
}
#smak-thumb img.thisPage {
  height: 69px;
  border: solid 2px red;
}
#smak-comment {
  max-width: 420px;
}
